* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
}

header, nav, article, div, footer {
    background-color: yellow;
    border: gray solid;
    text-align: center;
    padding: 10px;
}

header {
    width: 100%;
}

nav {
    width: 20%;
    height: 200px;
    float: left;
}

article {
    width: 60%;
    height: 200px;
    float: left;
}

div {
    width: 20%;
    height: 200px;
    float: left;
}


footer {
    width: 100%;
}